n8n/workflow-cgs-bot.json
{
  "name": "CGS Bot — Meta WhatsApp Cloud API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cgs-bot",
        "responseMode": "onReceived",
        "responseData": "noData",
        "options": {}
      },
      "id": "a1b2c3d4-1111-1111-1111-111111111111",
      "name": "Webhook (Meta)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        0
      ],
      "webhookId": "cgs-bot-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Meta envía MUCHOS tipos de eventos: messages, statuses, reactions, etc.\n// Solo nos interesan mensajes de TEXTO entrantes. El resto se descarta.\n\nconst body = $input.first().json.body;\nconst change = body?.entry?.[0]?.changes?.[0]?.value;\nconst message = change?.messages?.[0];\n\n// No es un mensaje (ej: status de entrega) → terminar flujo silenciosamente\nif (!message) {\n  return [];\n}\n\n// Por ahora solo texto. Imágenes/audios/botones quedan para el backlog.\nif (message.type !== 'text') {\n  return [];\n}\n\nreturn [{\n  json: {\n    wa_phone: message.from,\n    text: message.text.body,\n    message_id: message.id\n  }\n}];"
      },
      "id": "a1b2c3d4-2222-2222-2222-222222222222",
      "name": "Extraer mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -180,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ventas-cgs-bot-production.up.railway.app/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-N8N-Secret",
              "value": "thismustbetopsecret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "wa_phone",
              "value": "={{ $json.wa_phone }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-3333-3333-3333-333333333333",
      "name": "Backend → procesar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40,
        0
      ]
    }
  ],
  "connections": {
    "Webhook (Meta)": {
      "main": [
        [
          {
            "node": "Extraer mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer mensaje": {
      "main": [
        [
          {
            "node": "Backend → procesar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "versionId": "2",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "createdAt": "2026-05-23T00:00:00.000Z",
      "updatedAt": "2026-05-25T00:00:00.000Z",
      "id": "cgs-bot",
      "name": "cgs-bot"
    }
  ]
}
